﻿@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}


<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Employee number</th>


    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>

            <td>
                <a href="@Url.Action("Edit", "Employee/Edit", new {@id=@Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("Delete", "Delete", new {@id=@Model.Rows[i][0] })">Delete</a>
                          </td>
        </tr>
    }
</table>

<a href="@Url.Action("Create","./Employee/InsertEmployee")">Add Employee</a>